@charset "utf-8";

/*Css Dokument*/

KSIAZKA {
    display: block;
    margin-top: 12pt;
    margin-left: 10pt;
    font-size: 18pt;
}

TYTUL {
    font-style: italic;
    display: block;
    font-weight: bolder;
    font-size: 15pt;
}

AUTOR {
    font-weight: bold;
    margin-left: 20px;
    display: block;
}

OPRAWA,
CENA {
    display: block;
    margin-left: 25px;
}

STRONY {
    display: none;
}
