@charset "utf-8";
/* CSS Document */

KSIAZKA
{
	display:block;
	margin-top: 12pt;
	font-size: 18pt;
	
}

TYTUL

{
	font-style:italic;
	display:block;
	font-weight:bold;
	font-size:14pt;
}

AUTOR
{font-weight:bold;
margin-left:20px;
display:block;
}
OPRAWA, CENA
{display:block;
margin-left:25px;
}
STRONY
{display: none;
}


