@charset "utf-8";
WIERSZ {
    font-size: 145%;
}

WIERSZ,
TYTUL,
PODTYTUL,
AUTOR,
ROZDZIAL,
NUMER,
STROFA,
WERS {
    display: block;
    margin-left: 0.5em;
}

ROZDZIAL,
STROFA {
    margin-top: 1em;
    margin-left: 0.7em;
}

WIERSZ {
    background-image: url(lisc.bmp);
}
