@charset "utf-8";
festiwal {
    font-size: 150%;
    margin-left: 0.9em;
}

nazwafest,
sponsorzy,
sponsor,
wykonawca {
    display: block;
    margin-left: 0.6em;
}

wykonawca {
    display: block;
    margin-top: 1em;
    margin-left: 0.6em;
}

nazwa,
rok_pows,
l_plyt,
l_koncertow,
czlonkowie,
lider {
    margin-top: 0.1em;
    margin-left: 0.7em;
}

nazwa {
    font-size: 16pt;
    font-weight: bold;
    color: rgb(15, 165, 40);
}
